<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competitor.name %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @competitor.competition_id %>
</p>

<%= link_to 'Edit', edit_competition_event_competitor_path(@competition, @event, @competitor) %>
